<%- include('partials/courseDetailsHeader.ejs') %>
        <div class="CourseName">
 
            <h3>All Courses</h3>
        </div>
            <div class="container">
                <% courses.forEach((course)=>{ %>
                <div class="image">
                    <img src="<%= course.image %>">
                    <h3><%= course.courseName %></h3>
                    <h4 id="code"><%= course.courseCode %></h4>
                    <a href="/<%= course.courseCode %>">Details</a>
                </div>
                <% }) %>
            </div>
    </body>
</html>