<%- include('partials/header.ejs') %>

     <h1>RoutineForm View</h1>
     <p><%= routine.CName %></p>
     <p><%= routine.id %></p>
     <p><%= routine.sec %></p>
     <p><%= routine.time %></p>

<%- include('partials/footer.ejs') %>