<%- include('partials/header.ejs') %>

     <h1>SignUp View</h1>
     <p><%= routine.FName %></p>
     <p><%= routine.LName %></p>
     <p><%= routine.Dept %></p>
     <p><%= routine.EmAddress %></p>
     <p><%= routine.ContNumber %></p>
     <p><%= routine.Password %></p>

<%- include('partials/footer.ejs') %>